ENVIRONMENT=development
API_DEBUG=false
API_ALLOWED_ORIGINS=["http://localhost:3000"]
DATABASE_URL=sqlite:///./spam.db
REDIS_URL=redis://redis:6379/0
MODEL_STORAGE_PATH=./ml_models
MODEL_DEFAULT_VERSION=v1
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_BACKEND_URL=redis://redis:6379/1
SECRET_KEY=change-me
API_KEY_SALT=change-me
